---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 2332d4ac-ef3c-11e8-b585-132edbc644a7
      X-Amz-Apigw-Id:
      - Q0tt6GEljoEFWnA=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:23:40 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Board",
          "description": "pre-made board"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 235b1d0d-ef3c-11e8-ae10-a5c16f5e9265
      X-Amzn-Remapped-Content-Length:
      - '216'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tt9G6VjoEFuIQ=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:23:40 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"sew2jnc1fmifu623p20181123162340","state":"downloadable","url":"https://we.tl/b-4iSvvXu9sg","name":"Board","description":"pre-made
        board","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:23:40 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/sew2jnc1fmifu623p20181123162340/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 237b75dd-ef3c-11e8-9e45-055f32ca03bc
      X-Amzn-Remapped-Content-Length:
      - '1987'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tt_GjdjoEFl_A=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:23:40 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"sz0sojmnr9rx6h69g20181123162340","name":"small_file.1.txt","size":4,"multipart":{"id":"j.d6XmtRLDGZx9XClOdpTK_.QU98527I3WPe2UKrknBWN2iF0dakCPfOkG9R6gFdD0u_6dpsW5kAIymShM5bHM1HNuRxKEkgWdEfQXMewExJthtIeQWNoHvU4.9yq.y0ZSU0KE1alSzK9Vfe0VlFMA--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:23:41 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/sew2jnc1fmifu623p20181123162340/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://www.developers.wetransfer.com",
            "title": "WeTransfer Dev Portal"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 23ae9432-ef3c-11e8-9c7b-69039c6976c7
      X-Amzn-Remapped-Content-Length:
      - '274'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tuCGbkjoEFczA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:23:41 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"snvoxgnycl5skbzh120181123162341","url":"https://www.developers.wetransfer.com","meta":{"title":"WeTransfer
        Dev Portal"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:23:41 GMT
- request:
    method: get
    uri: https://dev.wetransfer.com/v2/boards/sew2jnc1fmifu623p20181123162340/files/sz0sojmnr9rx6h69g20181123162340/upload-url/1/j.d6XmtRLDGZx9XClOdpTK_.QU98527I3WPe2UKrknBWN2iF0dakCPfOkG9R6gFdD0u_6dpsW5kAIymShM5bHM1HNuRxKEkgWdEfQXMewExJthtIeQWNoHvU4.9yq.y0ZSU0KE1alSzK9Vfe0VlFMA--
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json[...]
- request:
    method: put
    uri: https://wetransfer-eu-prod-spaceship.s3.eu-west-1.amazonaws.com/sew2jnc1fmifu623p20181123162340/sz0sojmnr9rx6h69g20181123162340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUNK32TAQY6Z6227C/20181123/eu-west-1/s3/aws4_request&X-Amz-Date=20181123T162341Z&X-Amz-Expires=3600&X-Amz-Security-Token=FQoGZXIvYXdzENH//////////wEaDHxpWXXmzRzmltzqvCK3AwLXl5C9M1n/YWCJTi5Nok1nmSEqqVUAEHHxVLZNx0ITi1dkPcYuXDRRrujb3sedjtrvlZ0kIVgsN0XWaYxSQbHJnKvn1p/8ViwGdJ/E%2BoonbnK2BN5U5%2BfqZB1b2mfZIyhX8goXcVQPnnBdWaWnsM5wmxdBqGiIpWDWSpqXH53PVKJwzif6rT7eI3mfGdG4CMXz60ahMDP4XMQ0GBWb3ib%2BoaQVwHU0QbDU8zK77EADIkNfJH8qiwNRn5dSaArzNRlq1Qe055bmsrD2QRZlozSGa819zgLZ0yG5jiVIqbhob2/Glat1Rl1Os/L1uSONUAr8x2WuOlSK6f4AxSKesnRWRGg47qHdD2FlfchghGi5MkBSSICv%2BOYZbY1v8yq6rMG0Tf0dgL1A5FW635tMQtQg2Bg8HLs1St/vP6NmPBYFcAjVk2tvPR8dYe70aMDVnGY8NMmjVo2JDpa%2BMXgxiL6S2I8sw3JSBpA8h9/alqqDQi6WifUXQCV6Gl/nT0Kf92sIYd%2Bm06aLvLu4VNR/6YMmUbcC94EQpuDhIO59x%2Bs0Skvc1htf/GH0A23YB7ovtCb95rUa/fYo/rrg3wU=&X-Amz-Signature=81b3bb53c8746c7ac41aa5b37ec546364c88dbc0ab5341fabd68ba6c19f83ee9&X-Amz-SignedHeaders=host&partNumber=1&uploadId=j.d6XmtRLDGZx9XClOdpTK_.QU98527I3WPe2UKrknBWN2iF0dakCPfOkG9R6gFdD0u_6dpsW5kAIymShM5bHM1HNuRxKEkgWdEfQXMewExJthtIeQWNoHvU4.9yq.y0ZSU0KE1alSzK9Vfe0VlFMA--
    body:
      encoding: ASCII-8BIT
      string: 'all

'
    headers:
      Content-Type:
      - binary/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 1B3D4C96CC863873
      Etag:
      - '"4df9cc121afe1c00de4e9e396af4cdb1"'
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Nov 2018 16:23:41 GMT
recorded_with: VCR 3.0.3
