---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 70309b6f-ef3c-11e8-8371-55096f47e8aa
      X-Amz-Apigw-Id:
      - Q0uCGEEWjoEFZlw=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:25:49 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Board",
          "description": "pre-made board"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7059a782-ef3c-11e8-a878-d9ad4fdd9789
      X-Amzn-Remapped-Content-Length:
      - '216'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0uCIEE0DoEF_AQ=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:25:49 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"s3etlb9k7tqjqru4h20181123162549","state":"downloadable","url":"https://we.tl/b-OgpGpk5bw5","name":"Board","description":"pre-made
        board","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:25:49 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/s3etlb9k7tqjqru4h20181123162549/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 70812d20-ef3c-11e8-8609-275c12032751
      X-Amzn-Remapped-Content-Length:
      - '1985'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0uCLHGdjoEFTKA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:25:50 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"sanrjd8ef9engusq120181123162550","name":"small_file.1.txt","size":4,"multipart":{"id":"KGf7i_QQv.evRyaYVMWNnYN7JsZE7Gwq9k_fkKey43.9_2XH9wBm5PE0LdClebckHac_WqBn6_mZA0TGXaZ0vZntrjQjvk0cXLL6DRDPwJ82Ubwh7MLW6iLdyRmcaB4y37OeMzAnMFCaOKNiWOR8WA--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:25:50 GMT
recorded_with: VCR 3.0.3
