---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 052afe3e-ef3c-11e8-b5e5-a3e2db596524
      X-Amz-Apigw-Id:
      - Q0tmCG4ejoEFiEg=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:22:50 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Board",
          "description": "pre-made board"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 057b41a1-ef3c-11e8-8a0e-b9f420a42c8e
      X-Amzn-Remapped-Content-Length:
      - '216'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tmHHkQDoEFZ8A=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:22:50 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"suq9igoiv7xv294b720181123162250","state":"downloadable","url":"https://we.tl/b-QvwR6m4ysp","name":"Board","description":"pre-made
        board","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:22:50 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/suq9igoiv7xv294b720181123162250/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 05a621cd-ef3c-11e8-b970-818ed860cdf6
      X-Amzn-Remapped-Content-Length:
      - '1985'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tmKHccDoEFu4w=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:22:50 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"s4poat0zwxcdvkxlx20181123162250","name":"small_file.1.txt","size":4,"multipart":{"id":"wGB9yqqjDgEMOdmj5M2Fk8Iqk7U4f7KM9sspjj_capNqFYzfkDu1_6mEwrbDcAeG3AhxnQiYjmPdmRzji4qlkvM5b3X0VLa_Nt1pwuu_X9Nl51pLWDLW_5iVb5OoeA8lDE2xGzVa3.j48LHeCTTzXA--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:22:50 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/suq9igoiv7xv294b720181123162250/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://www.developers.wetransfer.com",
            "title": "WeTransfer Dev Portal"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 05d17801-ef3c-11e8-a6f8-d3cc708b6d31
      X-Amzn-Remapped-Content-Length:
      - '274'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tmNHU2DoEFglw=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:22:51 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"s5o2vdj6a962j1ao920181123162251","url":"https://www.developers.wetransfer.com","meta":{"title":"WeTransfer
        Dev Portal"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:22:51 GMT
recorded_with: VCR 3.0.3
