---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e6d9751c-ef3b-11e8-83ef-65755579c941
      X-Amz-Apigw-Id:
      - Q0teFGEaDoEF6ww=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:21:59 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Board",
          "description": "pre-made board"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e714a984-ef3b-11e8-83ef-65755579c941
      X-Amzn-Remapped-Content-Length:
      - '216'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0teJGGFDoEF6ww=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:59 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"syodwvq0qsn11g0mp20181123162159","state":"downloadable","url":"https://we.tl/b-QQImlteJ8E","name":"Board","description":"pre-made
        board","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:21:59 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/syodwvq0qsn11g0mp20181123162159/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e7404da1-ef3b-11e8-8f80-2f8fa95d84c8
      X-Amzn-Remapped-Content-Length:
      - '1999'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0teMFWyDoEF-MA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:59 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"skqr3egbhqr5lcse020181123162159","name":"small_file.1.txt","size":4,"multipart":{"id":"TyLrl7V9GyO_xWdn1K8lODGD6Ek.MnCpczZzKsU0MAgYM0_Pgj6wkB7tSK6dsiqMm_BOlmBH0r.lwGZSP7ID0eqFOkYIU20Xl9iOkCmF1OyVHR2wGBaVs2KhkjeJLgokGftNRE4ffVhRYM1HSnHnKw--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:21:59 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/syodwvq0qsn11g0mp20181123162159/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://www.developers.wetransfer.com",
            "title": "WeTransfer Dev Portal"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e75bc48b-ef3b-11e8-963b-3168bcf90a17
      X-Amzn-Remapped-Content-Length:
      - '274'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0teOHoJDoEFeuQ=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:22:00 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"sebhso3suw1grox5j20181123162159","url":"https://www.developers.wetransfer.com","meta":{"title":"WeTransfer
        Dev Portal"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:22:00 GMT
- request:
    method: get
    uri: https://dev.wetransfer.com/v2/boards/syodwvq0qsn11g0mp20181123162159/files/skqr3egbhqr5lcse020181123162159/upload-url/1/TyLrl7V9GyO_xWdn1K8lODGD6Ek.MnCpczZzKsU0MAgYM0_Pgj6wkB7tSK6dsiqMm_BOlmBH0r.lwGZSP7ID0eqFOkYIU20Xl9iOkCmF1OyVHR2wGBaVs2KhkjeJLgokGftNRE4ffVhRYM1HSnHnKw--
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json[...]
- request:
    method: put
    uri: https://wetransfer-eu-prod-spaceship.s3.eu-west-1.amazonaws.com/syodwvq0qsn11g0mp20181123162159/skqr3egbhqr5lcse020181123162159?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUNK32TAQYVR42IKU/20181123/eu-west-1/s3/aws4_request&X-Amz-Date=20181123T162200Z&X-Amz-Expires=3600&X-Amz-Security-Token=FQoGZXIvYXdzENH//////////wEaDFgzNqG%2BtmpfUb%2BruyK3A5leKEq4SvqFOBqoMtf7ZRb3djVd90U/kCHra1MeB8dUnGD02/wCrFoOe1PPlkAj46M4VIsdx%2BiBoDhgjVxWI68Fj11DUBOVCrK2iXYwqnJmdDRGTdshKum03/FW/wy1JM%2BXpZvx41cEuRsvUHfyyoj93OrPWNim5mSusNfLNeWN4O4o3eaE%2BPLu6RbRWFRzVPRPfDV3eji2ogGmnr%2BoO7nEOWl6Vy0pJtjIcjybmSFEHipRdOJ1bSMh9SPvs5Q4OKRqaJ7z2H6X5UUcvQJ4EtgdIoVIdM/JymUSXdBgSq/iFdycw6v0Jg9o/o7XKwRZuSuCt/1ckvfdAhGHhA5e8Qn6C22fDXnIS7DWtFfLHLNgaghIqKZ4pxaM%2Bwpv2QlQH8jg8HoB0k2HmxfZvOdCWSKH3Kx1oj4w8QctzEBB04FcPQUp0xW1Ef9cYpXjTxt%2BOIH0XUIWYH3ArDB4Uzm3oOrD%2BaBXgNxHKo0z6fdkfdQ8klGG1nn69QL3hI%2B3vTeUP7zVPxR0PHRfRcWTKGQvXGHYfqNWc7L6O3LMAVMOb5cwGmo5dtLtXO4h9yQaHTzTs4/upt/Uengo5Lzg3wU=&X-Amz-Signature=4a957e2fc06e4481b26aa0d3b36c244e8bd721cac087dfc4de1f838efe2fd38f&X-Amz-SignedHeaders=host&partNumber=1&uploadId=TyLrl7V9GyO_xWdn1K8lODGD6Ek.MnCpczZzKsU0MAgYM0_Pgj6wkB7tSK6dsiqMm_BOlmBH0r.lwGZSP7ID0eqFOkYIU20Xl9iOkCmF1OyVHR2wGBaVs2KhkjeJLgokGftNRE4ffVhRYM1HSnHnKw--
    body:
      encoding: ASCII-8BIT
      string: 'all

'
    headers:
      Content-Type:
      - binary/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 59A97D0CA581E2DD
      Etag:
      - '"4df9cc121afe1c00de4e9e396af4cdb1"'
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Nov 2018 16:22:00 GMT
recorded_with: VCR 3.0.3
