---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d7e777ef-ef3b-11e8-ba93-7f09837446a6
      X-Amz-Apigw-Id:
      - Q0taLFayDoEFWHg=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:21:34 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Board",
          "description": "pre-made board"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d8116ec7-ef3b-11e8-a878-d9ad4fdd9789
      X-Amzn-Remapped-Content-Length:
      - '216'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0taNGMGjoEF_AQ=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:34 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"spx33net8k4fca1l720181123162134","state":"downloadable","url":"https://we.tl/b-8fNMC7aSUC","name":"Board","description":"pre-made
        board","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:21:34 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/spx33net8k4fca1l720181123162134/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d83c9d34-ef3b-11e8-bb80-f760926d4b92
      X-Amzn-Remapped-Content-Length:
      - '1975'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0taQHmVjoEF5mg=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:34 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"scnhg094p6mo2ki6w20181123162134","name":"small_file.1.txt","size":4,"multipart":{"id":"LIz8kFxP2IeYmhLR0WqWMVlwmwPm8_9BpTGVa3hXwW9B4Ai_Ke7VoP9SdlhXGYzOgtcrZGvQLufTTBvi7uGdPW31w3Vy7bo9TQ3S6Z0KweXkFURBMlZbgQbbJqmsjKdCHyKn_PsBL9_jXupaObyvXw--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:21:34 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/spx33net8k4fca1l720181123162134/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://www.developers.wetransfer.com",
            "title": "WeTransfer Dev Portal"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d860c739-ef3b-11e8-89fc-ad90739f8156
      X-Amzn-Remapped-Content-Length:
      - '274'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0taTF9DjoEFlaA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:34 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"scd87z073jo2cbp4t20181123162134","url":"https://www.developers.wetransfer.com","meta":{"title":"WeTransfer
        Dev Portal"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:21:34 GMT
recorded_with: VCR 3.0.3
