---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6164c49f-ef3c-11e8-b91f-7ff3c49015f4
      X-Amz-Apigw-Id:
      - Q0t-NGRODoEF1nw=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:25:24 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Board",
          "description": "pre-made board"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6198cc65-ef3c-11e8-b5e5-a3e2db596524
      X-Amzn-Remapped-Content-Length:
      - '216'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0t-RF1bjoEFiEg=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:25:25 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"swelxidxpcowl2hmg20181123162524","state":"downloadable","url":"https://we.tl/b-Q5peFkDTVs","name":"Board","description":"pre-made
        board","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:25:25 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/swelxidxpcowl2hmg20181123162524/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://www.developers.wetransfer.com",
            "title": "WeTransfer Dev Portal"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 61bf3fe6-ef3c-11e8-9173-db26529efe83
      X-Amzn-Remapped-Content-Length:
      - '274'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0t-TEYSDoEFtvg=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:25:25 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"s043t0lwonc36jz2x20181123162525","url":"https://www.developers.wetransfer.com","meta":{"title":"WeTransfer
        Dev Portal"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:25:25 GMT
recorded_with: VCR 3.0.3
