---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1444cf03-ef3c-11e8-b11b-7160c6c9eb47
      X-Amz-Apigw-Id:
      - Q0tp_Hu2joEFxbQ=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:23:15 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Board",
          "description": "pre-made board"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 146eebfe-ef3c-11e8-a180-35d4c4967ee5
      X-Amzn-Remapped-Content-Length:
      - '216'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tqCFFjDoEF-Ug=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:23:15 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"shmo9ruew4sv856be20181123162315","state":"downloadable","url":"https://we.tl/b-TE92n4MzcZ","name":"Board","description":"pre-made
        board","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:23:15 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/shmo9ruew4sv856be20181123162315/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 1494eac8-ef3c-11e8-83ef-65755579c941
      X-Amzn-Remapped-Content-Length:
      - '1975'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tqFHoQjoEF6ww=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:23:15 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"sg9g20rrd35mx39xi20181123162315","name":"small_file.1.txt","size":4,"multipart":{"id":"Qxw21oxVT.pAL2msvqpwLB52DXQC8qqcRm09iclMOzPYLOyRN5QS5xFUvackcY10XYjj.L2QNCX5kWUe9fXvRNguivJlu3_xN2j7oW4L0u5LRkz048JwVKbWPYbwdundNM6NkfOpOVaVj078tk00mw--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:23:15 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/shmo9ruew4sv856be20181123162315/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://www.developers.wetransfer.com",
            "title": "WeTransfer Dev Portal"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 14bcbdd8-ef3c-11e8-915f-a5e01d24a952
      X-Amzn-Remapped-Content-Length:
      - '274'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tqHGA1joEFvCQ=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:23:16 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"sumnqe5ooiusfznrz20181123162316","url":"https://www.developers.wetransfer.com","meta":{"title":"WeTransfer
        Dev Portal"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:23:16 GMT
recorded_with: VCR 3.0.3
