---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c907a3af-ef3b-11e8-a878-d9ad4fdd9789
      X-Amz-Apigw-Id:
      - Q0tWREUtjoEF_AQ=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:21:09 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "test",
          "description": "test description"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c92c42a4-ef3b-11e8-8447-81f05611002d
      X-Amzn-Remapped-Content-Length:
      - '217'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tWUEeUjoEFqww=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:09 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"swzpl69rx20fl65qp20181123162109","state":"downloadable","url":"https://we.tl/b-1jkckTECt3","name":"test","description":"test
        description","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:21:09 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/swzpl69rx20fl65qp20181123162109/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c9504577-ef3b-11e8-9410-0fcb4eb3a81e
      X-Amzn-Remapped-Content-Length:
      - '1987'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tWWHHPDoEFZCg=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:09 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"suy1es99tss0y72pn20181123162109","name":"small_file.1.txt","size":4,"multipart":{"id":"4Nzf0XjeKUACOU5Rt1M7UYaLq1SpOH0s6TY589o4j92KAL5MnpcwQFgjiYlFrVR5I5z1hwN6syIDqg5stkA3O3ACglTO11Np.y6CmV8Rbr_xD9FxFhngvqlFSz6c3QDd08o2HXopYA8IF56HBJ93bA--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:21:09 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/swzpl69rx20fl65qp20181123162109/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://www.developers.wetransfer.com",
            "title": "WeTransfer Dev Portal"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c9709ecb-ef3b-11e8-9500-d528f371a952
      X-Amzn-Remapped-Content-Length:
      - '274'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tWYFr7DoEF3ow=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:21:09 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"su015vb6jv8twqdwy20181123162109","url":"https://www.developers.wetransfer.com","meta":{"title":"WeTransfer
        Dev Portal"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:21:09 GMT
recorded_with: VCR 3.0.3
