---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ba5e96bc-ef3b-11e8-a1d9-97271efc4a16
      X-Amz-Apigw-Id:
      - Q0tSbHljjoEF1ag=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:20:44 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "New Board",
          "description": "This is the description"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ba92c5da-ef3b-11e8-b5d3-fdcc613854fa
      X-Amzn-Remapped-Content-Length:
      - '229'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tSfGOLjoEFmnQ=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:20:44 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"s3t93545ib1510eoj20181123162044","state":"downloadable","url":"https://we.tl/b-6FubgT3YRi","name":"New
        Board","description":"This is the description","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:20:44 GMT
recorded_with: VCR 3.0.3
