---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 99ec9011-2605-11e9-aed8-a3a72aa98511
      X-Amz-Apigw-Id:
      - Uage2GJDjoEF34w=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 01 Feb 2019 09:41:51 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "small",
              "size": 1
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9a33d218-2605-11e9-8f95-c12392248b18
      X-Amz-Apigw-Id:
      - Uage7EJyjoEFpCA=
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"\"transfer.files.size\" must be greater
        than 1. See https://developers.wetransfer.com/documentation"}'
  recorded_at: Fri, 01 Feb 2019 09:41:51 GMT
[...]
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "small",
              "size": 1
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5ed6a7d3-2617-11e9-a35a-db9f5b7dc079
      X-Amz-Apigw-Id:
      - UazHUH_KjoEFo9A=
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"\"transfer.files.size\" must be greater
        than 1. See https://developers.wetransfer.com/documentation"}'
  recorded_at: Fri, 01 Feb 2019 11:49:03 GMT
recorded_with: VCR 3.0.3
