---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 2094f921-249d-11e9-862e-41a3fc03fc3f
      X-Amz-Apigw-Id:
      - UUmf2G0ljoEF5ZQ=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Wed, 30 Jan 2019 14:41:29 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "foo.bar",
              "size": 10
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 20f6eeda-249d-11e9-89e7-2994df153e13
      X-Response-Generated-At-Epoch:
      - '1548859289'
      X-Amzn-Remapped-Content-Length:
      - '472'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - UUmf9GJxjoEFYNw=
      Etag:
      - W/"934c563f387829030436666f23646605"
      X-Opaque:
      - 98683fc88d14bc6af0d2d1f794ed00bb94d6a317-03bb83739d2b8fdc1-19683
      X-Amzn-Remapped-Date:
      - Wed, 30 Jan 2019 14:41:29 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"81d92334573dc4f51f94bc2529237c1a20190130144128","state":"uploading","message":"Testcase","url":null,"files":[{"id":"1107a49a4fd5d1d8a089a8872840d65c20190130144128","name":"foo.bar","size":10,"multipart":{"part_numbers":1,"chunk_size":10},"type":"file"}],"expires_at":"2019-02-06T14:41:28Z"}'
  recorded_at: Wed, 30 Jan 2019 14:41:29 GMT
recorded_with: VCR 3.0.3
