---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f2b2fc08-248f-11e9-b791-cd78c231f711
      X-Amz-Apigw-Id:
      - UUYraEclDoEFz-w=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Wed, 30 Jan 2019 13:07:08 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "foo.bar",
              "size": 10
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f2eb981a-248f-11e9-a36b-9b018e071e51
      X-Response-Generated-At-Epoch:
      - '1548853628'
      X-Amzn-Remapped-Content-Length:
      - '472'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - UUYrdELMDoEFc1Q=
      Etag:
      - W/"4927d457d3b62050abdef0a8f2dc8cd8"
      X-Opaque:
      - 98683fc88d14bc6af0d2d1f794ed00bb94d6a317-016e4ef69ac317fe3-7524
      X-Amzn-Remapped-Date:
      - Wed, 30 Jan 2019 13:07:08 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"00368b0dc8d6aebfa22f940dad1bf7ab20190130130707","state":"uploading","message":"Testcase","url":null,"files":[{"id":"ba62dc372ae905cf17875117719a3bbe20190130130707","name":"foo.bar","size":10,"multipart":{"part_numbers":1,"chunk_size":10},"type":"file"}],"expires_at":"2019-02-06T13:07:07Z"}'
  recorded_at: Wed, 30 Jan 2019 13:07:09 GMT
recorded_with: VCR 3.0.3
