---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 952baca6-24a2-11e9-a1f5-0d2669b5b6f5
      X-Amz-Apigw-Id:
      - UUsN9HWJDoEFqIA=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Wed, 30 Jan 2019 15:20:32 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "foo.bar",
              "size": 10
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9582a6c0-24a2-11e9-8dcc-8f4e6b81f20b
      X-Response-Generated-At-Epoch:
      - '1548861631'
      X-Amzn-Remapped-Content-Length:
      - '472'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - UUsODETiDoEFvOA=
      Etag:
      - W/"d0bbc4971c74ac5371ae7c82e5e449ab"
      X-Opaque:
      - 98683fc88d14bc6af0d2d1f794ed00bb94d6a317-08983df3e0520243e-15004
      X-Amzn-Remapped-Date:
      - Wed, 30 Jan 2019 15:20:32 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"64e1884d5ac12e0360c5ad6d8a8151c720190130152031","state":"uploading","message":"Testcase","url":null,"files":[{"id":"2547dfb187efc0250543d5673f63993020190130152031","name":"foo.bar","size":10,"multipart":{"part_numbers":1,"chunk_size":10},"type":"file"}],"expires_at":"2019-02-06T15:20:31Z"}'
  recorded_at: Wed, 30 Jan 2019 15:20:32 GMT
recorded_with: VCR 3.0.3
