---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c2c038e6-24a2-11e9-8c7a-97a9b31bb0a7
      X-Amz-Apigw-Id:
      - UUsZ6FD-joEF8DA=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Wed, 30 Jan 2019 15:21:48 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "foo.bar",
              "size": 10
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c2f097d1-24a2-11e9-b0e3-8d6cfa85b5f9
      X-Response-Generated-At-Epoch:
      - '1548861708'
      X-Amzn-Remapped-Content-Length:
      - '472'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - UUsZ9FW3joEFWVw=
      Etag:
      - W/"dc04c2c044d379eda8db167fac7fad68"
      X-Opaque:
      - 98683fc88d14bc6af0d2d1f794ed00bb94d6a317-0e57f56773e77ab0c-30548
      X-Amzn-Remapped-Date:
      - Wed, 30 Jan 2019 15:21:48 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"8bf2e09112e41d6e6abafbb0620dd91f20190130152148","state":"uploading","message":"Testcase","url":null,"files":[{"id":"24e8e0af3f8b2a24f1478ce39598f12d20190130152148","name":"foo.bar","size":10,"multipart":{"part_numbers":1,"chunk_size":10},"type":"file"}],"expires_at":"2019-02-06T15:21:48Z"}'
  recorded_at: Wed, 30 Jan 2019 15:21:48 GMT
recorded_with: VCR 3.0.3
