---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ec01e5ee-24a2-11e9-9303-3323454339a8
      X-Amz-Apigw-Id:
      - UUskuGXcjoEFdoA=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Wed, 30 Jan 2019 15:22:57 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "foo.bar",
              "size": 10
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ec53d6aa-24a2-11e9-862e-41a3fc03fc3f
      X-Response-Generated-At-Epoch:
      - '1548861777'
      X-Amzn-Remapped-Content-Length:
      - '472'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - UUskzE_2DoEF5ZQ=
      Etag:
      - W/"31728dc3ee1d865786eb29a0ff134ba0"
      X-Opaque:
      - 98683fc88d14bc6af0d2d1f794ed00bb94d6a317-08919c4529382513a-2041
      X-Amzn-Remapped-Date:
      - Wed, 30 Jan 2019 15:22:58 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"50c00f8f5359b6e9841466502c4a784220190130152257","state":"uploading","message":"Testcase","url":null,"files":[{"id":"5badf4eabead4095af12aeede6e53af120190130152257","name":"foo.bar","size":10,"multipart":{"part_numbers":1,"chunk_size":10},"type":"file"}],"expires_at":"2019-02-06T15:22:57Z"}'
  recorded_at: Wed, 30 Jan 2019 15:22:58 GMT
recorded_with: VCR 3.0.3
