---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 61d2d690-24a2-11e9-a0f1-03b132d8dbe5
      X-Amz-Apigw-Id:
      - UUsAgE0sjoEFskA=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Wed, 30 Jan 2019 15:19:05 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "foo.bar",
              "size": 10
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6214e8fc-24a2-11e9-ad6d-8544b3c9b3b3
      X-Response-Generated-At-Epoch:
      - '1548861546'
      X-Amzn-Remapped-Content-Length:
      - '472'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - UUsAkEwajoEFq2Q=
      Etag:
      - W/"81ecfabfc9d9d25573f8fbc850b1c7dd"
      X-Opaque:
      - 98683fc88d14bc6af0d2d1f794ed00bb94d6a317-09a543bb48e477786-6145
      X-Amzn-Remapped-Date:
      - Wed, 30 Jan 2019 15:19:06 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"897d6e5f555305f8fc424bb4f5b6789120190130151905","state":"uploading","message":"Testcase","url":null,"files":[{"id":"7ff76dc79eb4ad15dddb2e97d900a78720190130151905","name":"foo.bar","size":10,"multipart":{"part_numbers":1,"chunk_size":10},"type":"file"}],"expires_at":"2019-02-06T15:19:05Z"}'
  recorded_at: Wed, 30 Jan 2019 15:19:06 GMT
recorded_with: VCR 3.0.3
