---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 658a87a1-24a2-11e9-ba3f-c3c77a12102d
      X-Amz-Apigw-Id:
      - UUsBeGEbDoEFSzg=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Wed, 30 Jan 2019 15:19:12 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/transfers
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Testcase",
          "files": [
            {
              "name": "foo.bar",
              "size": 10
            }
          ]
        }
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 65ad0368-24a2-11e9-89e7-2994df153e13
      X-Response-Generated-At-Epoch:
      - '1548861551'
      X-Amzn-Remapped-Content-Length:
      - '472'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - UUsBgERpDoEFYNw=
      Etag:
      - W/"98a1458d18ee46f8767ff084604ada4c"
      X-Opaque:
      - 98683fc88d14bc6af0d2d1f794ed00bb94d6a317-0c8521286e4fa4b1f-15111
      X-Amzn-Remapped-Date:
      - Wed, 30 Jan 2019 15:19:12 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"51a1bbb86f006331fb9cfbbd2683aea420190130151911","state":"uploading","message":"Testcase","url":null,"files":[{"id":"c0c9eac53fccb310180f8678ed7b131820190130151911","name":"foo.bar","size":10,"multipart":{"part_numbers":1,"chunk_size":10},"type":"file"}],"expires_at":"2019-02-06T15:19:11Z"}'
  recorded_at: Wed, 30 Jan 2019 15:19:12 GMT
recorded_with: VCR 3.0.3
