---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - aa0f79e7-ef3b-11e8-9a36-cd78f37f9a2c
      X-Amz-Apigw-Id:
      - Q0tOKEv5joEFkEg=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:20:17 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Integration Test",
          "description": "Test the functionality of this SDK"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - aa3f6413-ef3b-11e8-ae10-a5c16f5e9265
      X-Amzn-Remapped-Content-Length:
      - '247'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tONElDDoEFuIQ=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:20:17 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"si8a20pdx2cogk6kh20181123162017","state":"downloadable","url":"https://we.tl/b-EAmJEUkSLh","name":"Integration
        Test","description":"Test the functionality of this SDK","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:20:17 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/si8a20pdx2cogk6kh20181123162017/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - aa6450de-ef3b-11e8-9d76-d988b36f779c
      X-Amzn-Remapped-Content-Length:
      - '1985'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tOPHlGDoEF4TA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:20:17 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"s9e3vzgsuhaxtdsar20181123162017","name":"small_file.1.txt","size":4,"multipart":{"id":"YpSD1_10Knp4Hn071S3q4zr8SguCvwKtFN1tBKaGuOD23GPMYN4e1PNgT0tOf8r4ULoaNfMztlvfNCOJxmYkuPi5SpPtwNJBR3o4rGck9IA.4dhL0uBt5aPnu_omOm9j5JrNXDU5I4EvFcV6NHK94A--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:20:17 GMT
[...]
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/si8a20pdx2cogk6kh20181123162017/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://rubygems.org/gems/wetransfer",
            "title": "WeTransfer Ruby SDK Rubygems"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - aaafd88c-ef3b-11e8-9857-8f145ca6a2ef
      X-Amzn-Remapped-Content-Length:
      - '280'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tOUEZvDoEFaDA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:20:18 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"s6m8058gorntjsuyc20181123162018","url":"https://rubygems.org/gems/wetransfer","meta":{"title":"WeTransfer
        Ruby SDK Rubygems"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:20:18 GMT
[...]
- request:
    method: get
    uri: https://dev.wetransfer.com/v2/boards/si8a20pdx2cogk6kh20181123162017/files/s9e3vzgsuhaxtdsar20181123162017/upload-url/1/YpSD1_10Knp4Hn071S3q4zr8SguCvwKtFN1tBKaGuOD23GPMYN4e1PNgT0tOf8r4ULoaNfMztlvfNCOJxmYkuPi5SpPtwNJBR3o4rGck9IA.4dhL0uBt5aPnu_omOm9j5JrNXDU5I4EvFcV6NHK94A--
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json[...]
- request:
    method: put
    uri: https://wetransfer-eu-prod-spaceship.s3.eu-west-1.amazonaws.com/si8a20pdx2cogk6kh20181123162017/s9e3vzgsuhaxtdsar20181123162017?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUNK32TAQ36GBOLNG/20181123/eu-west-1/s3/aws4_request&X-Amz-Date=20181123T162018Z&X-Amz-Expires=3600&X-Amz-Security-Token=FQoGZXIvYXdzENL//////////wEaDKilCSS7G/lwwdtuFiK3A%2BRQ9I5Y4dcQ24rYP9hUuCOnKHHmFDvyHnQY98U4cSJlLikvQisxr6PtKoadcmUqpv9dmWF/AqgAOJby3kH4rUHOebnXAc2cXUfO7aMY49Bv5DZlu4W14R0Gmkd8Oh7rkHj5Pf507gTjIPL7B4k8FVyIkEiCSVJ%2BrcfvUaQ27Hz272LUNgybDpc4vdgupH%2Bo2CZP/gGZVaGzL2WSnnskDAzOKBKav7YfS79kL1bRqit0OLgNlTi%2BeavGNq%2BgnorouxEwja1dawSoavyKFQICR%2BlMsMNjlRTlFv1kHNEzKWYtvydFsoeF2Fmz%2BaDDzUxxt63rxy%2BUChUWbY8BMxubGvKftlwj37cOULQ1q8e09ADTbPSWygxFS%2BjiHsoyU2%2Bno4qU3mw/UH/Owkmrs/etyCWUITfuIH8FjT%2BJcHpA7n%2BPrzldy15at7mFCwuZt9clYG2%2B6U31N3DVyhh%2BC1JkkGLz4QfZm8XgdVU9ScfNJzsZtC6SQPxMLDRZOo1VG88ZxM/RIUxgR0I/q20GEl%2B5T0HCrrkUWk2C2uaqbvcQ%2BDqeSzLHXIo3UjeqAL0rdb6LJGmEGTLp8/8oq8zg3wU=&X-Amz-Signature=23e9fa2ba24a6eb8df42c1b4a5ac89ddc0579c9b2f4911e07531d391c7946fcf&X-Amz-SignedHeaders=host&partNumber=1&uploadId=YpSD1_10Knp4Hn071S3q4zr8SguCvwKtFN1tBKaGuOD23GPMYN4e1PNgT0tOf8r4ULoaNfMztlvfNCOJxmYkuPi5SpPtwNJBR3o4rGck9IA.4dhL0uBt5aPnu_omOm9j5JrNXDU5I4EvFcV6NHK94A--
    body:
      encoding: ASCII-8BIT
      string: 'all

'
    headers:
      Content-Type:
      - binary/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 46D299E5A00A0330
      Etag:
      - '"4df9cc121afe1c00de4e9e396af4cdb1"'
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Nov 2018 16:20:18 GMT
- request:
    method: get
    uri: https://dev.wetransfer.com/v2/boards/si8a20pdx2cogk6kh20181123162017/files/sszbra8864wk03igz20181123162017/upload-url/1/eGPOPOzh0_AM2OfRF33.RlJFk9GcVUowPRiQ1c99JMRAlWHZaY_MjbRWcWbKU_IqN4bv7B4z._Hc4cFxCk5QgqkzxGFFNT0xaALk89Uit4_5vutuSIlXJQhd0RK5NRyMG5pxp6yEwCELNvFek7JXhA--
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json[...]
- request:
    method: put
    uri: https://wetransfer-eu-prod-spaceship.s3.eu-west-1.amazonaws.com/si8a20pdx2cogk6kh20181123162017/sszbra8864wk03igz20181123162017?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUNK32TAQY6Z6227C/20181123/eu-west-1/s3/aws4_request&X-Amz-Date=20181123T162019Z&X-Amz-Expires=3600&X-Amz-Security-Token=FQoGZXIvYXdzENH//////////wEaDHxpWXXmzRzmltzqvCK3AwLXl5C9M1n/YWCJTi5Nok1nmSEqqVUAEHHxVLZNx0ITi1dkPcYuXDRRrujb3sedjtrvlZ0kIVgsN0XWaYxSQbHJnKvn1p/8ViwGdJ/E%2BoonbnK2[...]
- request:
    method: put
    uri: https://dev.wetransfer.com/v2/boards/si8a20pdx2cogk6kh20181123162017/files/s9e3vzgsuhaxtdsar20181123162017/upload-complete
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ab717b67-ef3b-11e8-ba93-7f09837446a6
      X-Amzn-Remapped-Content-Length:
      - '51'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tOhEI8DoEFWHg=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:20:19 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"File is marked as complete."}'
  recorded_at: Fri, 23 Nov 2018 16:20:19 GMT
- request:
    method: put
    uri: https://dev.wetransfer.com/v2/boards/si8a20pdx2cogk6kh20181123162017/files/sszbra8864wk03igz20181123162017/upload-complete
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ab9ef3cd-ef3b-11e8-809f-2b7b699de2fc
      X-Amzn-Remapped-Content-Length:
      - '51'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tOkEWpDoEFbiA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:20:19 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"File is marked as complete."}'
  recorded_at: Fri, 23 Nov 2018 16:20:19 GMT
- request:
    method: get
    uri: https://we.tl/b-EAmJEUkSLh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://boards.wetransfer.com/board/si8a20pdx2cogk6kh20181123162017/latest
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Nov 2018 16:20:20 GMT
recorded_with: VCR 3.0.3
