---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0d445115-ef3b-11e8-8f80-2f8fa95d84c8
      X-Amz-Apigw-Id:
      - Q0slDHfoDoEF-MA=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:15:54 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "Integration Test",
          "description": "Test the functionality of this SDK"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0d6df9bf-ef3b-11e8-96af-9f609a55ff28
      X-Amzn-Remapped-Content-Length:
      - '247'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0slGHlEDoEFVIw=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:15:54 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"sli7p7yw1v0yzwkoo20181123161554","state":"downloadable","url":"https://we.tl/b-FFcV2ZK9Nd","name":"Integration
        Test","description":"Test the functionality of this SDK","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:15:54 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/sli7p7yw1v0yzwkoo20181123161554/files
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "name": "small_file.1.txt",
            "size": 4
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0d8eeee6-ef3b-11e8-ac62-6d64017dcb5f
      X-Amzn-Remapped-Content-Length:
      - '1987'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0slIHL2joEF8UA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:15:54 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"son698vx926wv8bbi20181123161554","name":"small_file.1.txt","size":4,"multipart":{"id":"QDnwDmz31KmRVIKuX6bbcwmeufe6HYQkJngNFelwCfiOfljvyCyV.2dURpW2HTP7tR_3.GHFCLO8oN_dyyA3x5qVcuC4tqjDr6t04Kp07zq19PqEp13CJgb4ngQJPuW5Rv0yHQx.Vjk8rSw3VtyJMA--","part_numbers":1,"chunk_size":4},"type":"file"}]'
  recorded_at: Fri, 23 Nov 2018 16:15:54 GMT
[...]
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards/sli7p7yw1v0yzwkoo20181123161554/links
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "url": "https://rubygems.org/gems/wetransfer",
            "title": "WeTransfer Ruby SDK Rubygems"
          }
        ]
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0dc911f9-ef3b-11e8-bf71-dd0eab5033aa
      X-Amzn-Remapped-Content-Length:
      - '280'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0slMEpQDoEFWdA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:15:54 GMT
    body:
      encoding: UTF-8
      string: '[{"id":"sxlo9ft3p505x058m20181123161554","url":"https://rubygems.org/gems/wetransfer","meta":{"title":"WeTransfer
        Ruby SDK Rubygems"},"type":"link"}]'
  recorded_at: Fri, 23 Nov 2018 16:15:55 GMT
[...]
- request:
    method: get
    uri: https://dev.wetransfer.com/v2/boards/sli7p7yw1v0yzwkoo20181123161554/files/son698vx926wv8bbi20181123161554/upload-url/1/QDnwDmz31KmRVIKuX6bbcwmeufe6HYQkJngNFelwCfiOfljvyCyV.2dURpW2HTP7tR_3.GHFCLO8oN_dyyA3x5qVcuC4tqjDr6t04Kp07zq19PqEp13CJgb4ngQJPuW5Rv0yHQx.Vjk8rSw3VtyJMA--
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json[...]
- request:
    method: put
    uri: https://wetransfer-eu-prod-spaceship.s3.eu-west-1.amazonaws.com/sli7p7yw1v0yzwkoo20181123161554/son698vx926wv8bbi20181123161554?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUNK32TAQ36GBOLNG/20181123/eu-west-1/s3/aws4_request&X-Amz-Date=20181123T161555Z&X-Amz-Expires=3600&X-Amz-Security-Token=FQoGZXIvYXdzENL//////////wEaDKilCSS7G/lwwdtuFiK3A%2BRQ9I5Y4dcQ24rYP9hUuCOnKHHmFDvyHnQY98U4cSJlLikvQisxr6PtKoadcmUqpv9dmWF/AqgAOJby3kH4rUHOebnXAc2cXUfO7aMY49Bv5DZlu4W14R0Gmkd8Oh7rkHj5Pf507gTjIPL7B4k8FVyIkEiCSVJ%2BrcfvUaQ27Hz272LUNgybDpc4vdgupH%2Bo2CZP/gGZVaGzL2WSnnskDAzOKBKav7YfS79kL1bRqit0OLgNlTi%2BeavGNq%2BgnorouxEwja1dawSoavyKFQICR%2BlMsMNjlRTlFv1kHNEzKWYtvydFsoeF2Fmz%2BaDDzUxxt63rxy%2BUChUWbY8BMxubGvKftlwj37cOULQ1q8e09ADTbPSWygxFS%2BjiHsoyU2%2Bno4qU3mw/UH/Owkmrs/etyCWUITfuIH8FjT%2BJcHpA7n%2BPrzldy15at7mFCwuZt9clYG2%2B6U31N3DVyhh%2BC1JkkGLz4QfZm8XgdVU9ScfNJzsZtC6SQPxMLDRZOo1VG88ZxM/RIUxgR0I/q20GEl%2B5T0HCrrkUWk2C2uaqbvcQ%2BDqeSzLHXIo3UjeqAL0rdb6LJGmEGTLp8/8oq8zg3wU=&X-Amz-Signature=84b47ecbfbd995a0840cb7bca34cb7cd75d4e4c50cb0ea77672e36990458ea67&X-Amz-SignedHeaders=host&partNumber=1&uploadId=QDnwDmz31KmRVIKuX6bbcwmeufe6HYQkJngNFelwCfiOfljvyCyV.2dURpW2HTP7tR_3.GHFCLO8oN_dyyA3x5qVcuC4tqjDr6t04Kp07zq19PqEp13CJgb4ngQJPuW5Rv0yHQx.Vjk8rSw3VtyJMA--
    body:
      encoding: ASCII-8BIT
      string: 'all

'
    headers:
      Content-Type:
      - binary/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - '091ED77E83FAF71D'
      Etag:
      - '"4df9cc121afe1c00de4e9e396af4cdb1"'
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Nov 2018 16:15:55 GMT
- request:
    method: get
    uri: https://dev.wetransfer.com/v2/boards/sli7p7yw1v0yzwkoo20181123161554/files/sdi9csxnrcz9rrpwr20181123161554/upload-url/1/1MnKqj0zEKIsjDtWMfrd1RtMZjYues9vHhgbekwQ00frf.p3jZBqFhrBhqXbP89O94vPtdhqP7e4IR.isuKfVuuWiTm6EckRS6mGqXDgOi8ZaeupINPoXBrodHOnPkHEr8NZsXeMBEvXBf9_nYlB_w--
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json[...]
- request:
    method: put
    uri: https://wetransfer-eu-prod-spaceship.s3.eu-west-1.amazonaws.com/sli7p7yw1v0yzwkoo20181123161554/sdi9csxnrcz9rrpwr20181123161554?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUNK32TAQ4TLMXTDN/20181123/eu-west-1/s3/aws4_request&X-Amz-Date=20181123T161555Z&X-Amz-Expires=3600&X-Amz-Security-Token=FQoGZXIvYXdzENH//////////wEaDOfYAMo1WTjBD8K5ECK3A6A0L1Bma8nG5cIUuRU1PQG4imlkzSnDXc9OkJXFA%2BRPaKsDwpRBxK2dQW5Cc8D8Hl4ThEbivLTRgMmX0pbaxuT4RS1gO9/3ET1TImIsyXckjWDb[...]
- request:
    method: put
    uri: https://dev.wetransfer.com/v2/boards/sli7p7yw1v0yzwkoo20181123161554/files/son698vx926wv8bbi20181123161554/upload-complete
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0e9ae0f2-ef3b-11e8-8447-81f05611002d
      X-Amzn-Remapped-Content-Length:
      - '51'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0slZGRADoEFqww=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:15:56 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"File is marked as complete."}'
  recorded_at: Fri, 23 Nov 2018 16:15:56 GMT
- request:
    method: put
    uri: https://dev.wetransfer.com/v2/boards/sli7p7yw1v0yzwkoo20181123161554/files/sdi9csxnrcz9rrpwr20181123161554/upload-complete
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0ebc721f-ef3b-11e8-9857-8f145ca6a2ef
      X-Amzn-Remapped-Content-Length:
      - '51'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0slcFwSjoEFaDA=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:15:56 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"File is marked as complete."}'
  recorded_at: Fri, 23 Nov 2018 16:15:56 GMT
- request:
    method: get
    uri: https://we.tl/b-FFcV2ZK9Nd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://boards.wetransfer.com/board/sli7p7yw1v0yzwkoo20181123161554/latest
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Nov 2018 16:15:56 GMT
recorded_with: VCR 3.0.3
