---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 99dff444-ef3b-11e8-8978-17a5e5b75608
      X-Amz-Apigw-Id:
      - Q0tJ6FvFDoEF0ew=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:19:50 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "board_test",
          "description": ""
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9a05f27a-ef3b-11e8-a097-c542013a52d7
      X-Amzn-Remapped-Content-Length:
      - '209'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tJ8GlaDoEFvXg=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:19:50 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"sji5vaw6n7r61upet20181123161950","state":"downloadable","url":"https://we.tl/b-WfA01kTgHv","name":"board_test","description":null,"items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:19:50 GMT
recorded_with: VCR 3.0.3
