---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8b5544b7-ef3b-11e8-be0a-47a3ad81d605
      X-Amz-Apigw-Id:
      - Q0tGGGsBDoEFlrg=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:19:25 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "",
          "description": "Test the functionality of the SDK"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 8b78ab27-ef3b-11e8-8978-17a5e5b75608
      X-Amz-Apigw-Id:
      - Q0tGIEI6DoEF0ew=
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"\"board.name\" is not allowed to be empty.
        See https://developers.wetransfer.com/documentation"}'
  recorded_at: Fri, 23 Nov 2018 16:19:25 GMT
recorded_with: VCR 3.0.3
