---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7cb892aa-ef3b-11e8-b91f-7ff3c49015f4
      X-Amz-Apigw-Id:
      - Q0tCRHGcjoEF1nw=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:19:01 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "board test",
          "description": "Test the functionality of the SDK"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 7cdb5d1d-ef3b-11e8-9e45-055f32ca03bc
      X-Amzn-Remapped-Content-Length:
      - '240'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Q0tCTGuLjoEFl_A=
      X-Amzn-Remapped-Date:
      - Fri, 23 Nov 2018 16:19:01 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"id":"shebirix5wqj46xd320181123161901","state":"downloadable","url":"https://we.tl/b-Et7tgyfdn4","name":"board
        test","description":"Test the functionality of the SDK","items":[]}'
  recorded_at: Fri, 23 Nov 2018 16:19:01 GMT
recorded_with: VCR 3.0.3
