---
http_interactions:
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/authorize
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - "<SENSITIVE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6e32c4fb-ef3b-11e8-b832-995950a498b1
      X-Amz-Apigw-Id:
      - Q0s-dFF6DoEFlxA=
    body:
      encoding: UTF-8
      string: "  {\n    \"success\" : true,\n    \"token\": \"<SENSITIVE>\"\n  }\n
        \ "
  recorded_at: Fri, 23 Nov 2018 16:18:36 GMT
- request:
    method: post
    uri: https://dev.wetransfer.com/v2/boards
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "",
          "description": "Test the functionality of the SDK"
        }
    headers:
      X-Api-Key:
      - "<SENSITIVE>"
      Authorization:
      - "<SENSITIVE>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6e59adcd-ef3b-11e8-915f-a5e01d24a952
      X-Amz-Apigw-Id:
      - Q0s-gGQJDoEFvCQ=
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"\"board.name\" is not allowed to be empty.
        See https://developers.wetransfer.com/documentation"}'
  recorded_at: Fri, 23 Nov 2018 16:18:36 GMT
recorded_with: VCR 3.0.3
